.navbar {
    margin-bottom: 0px;
}

.navbar h1, #login {
    color: #0077b3;
}

.navbar .zip {
    margin: 20px;
}

.group {
    border-left: 1px solid #ddd;
    padding: 20px;
}

.bin {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 2px;
    margin-top: 50px;
    padding: 20px;
}

.bin input {
    margin-bottom: 20px;
    margin-top: 10px
}


.bin .btn {
    margin-top: 20px;
}

div p {
    cursor: pointer;
    color: #0077b3;
}

div p:hover {
    text-decoration: underline;
}

#feedback {
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 12px;
}
