.navbar {
                margin-bottom: 0px;
            }
            div .btn {
                margin: 10px;
            }
            .bin {
                background-color: #fff;
                border: 1px solid #ddd;
                border-radius: 2px;
                padding: 20px;
                margin: 30px 60px 0px 0px;
            }
            input {
                margin: 20px 0px 20px 0px;
            }
            .form-group {
                margin-left: 20px;
            }
