.navbar {
    margin-bottom: 0px;
}

.navbar h1 {
    color: #0077b3;
}

.navbar .btn {
    margin: 20px;
}

.group {
  margin: 17px;
}

.bin {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 2px;
    margin-top: 50px;
    padding: 20px;
}

.bin input {
    margin-bottom: 20px;
    margin-top: 10px
}


.bin .btn {
    margin-top: 20px;
}

div p {
    color: #0077b3;4
    cursor: pointer;
}

#feedback {
    margin-top: 20px;
    padding: 12px;
}